@using Microsoft.AspNetCore.Identity
@using CaveroClubhuis.Areas.Identity.Data
@inject SignInManager<CaveroUser> SignInManager
@inject UserManager<CaveroUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CaveroClubhuis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/23.1.44/bootstrap4.css" />
    <script src="https://cdn.syncfusion.com/ej2/23.1.44/dist/ej2.min.js"></script>
</head>
<body>
    <div class="background">
        <div class="header-container">
            <button class="hamburger-menu-icon">
            <img src="~/images/menu-hamburger.svg" alt="Menu">
            </button>
            <h1 class="Headertxt">@ViewData["Title"]</h1>
        </div>

        
        <div class="sidebar-overlay"></div>
        <div class="sidebar">
            
            <div class="cavero-logo">
                <img src="~/images/Cavero_white.png" alt="Cavero Logo" class="desktop-logo"/>
                </div>
            
            <div class="line-2"></div>


            <div class="profile">
                <img class="profile_picture" src="~/images/An.jpeg"/>
                <div class="profile_text"> @Model.FirstName @Model.LastName</div>
            </div>
            
            <form class="Logout-F" asp-page-handler="ToggleCheckIn" method="post">
                @if (Model.IsUserCheckedIn)
                {
                    <button type="submit" class="check-out">
                        <i class="ri-logout-circle-line"></i>
                        Check - out
                        </button>
                }
                else
                {
                    <button type="submit" class="check-in-1">
                        <i class="ri-login-circle-line"></i>
                        Check - in
                        </button>
                }
                </form>   
            
            <a href="/">
                    <button class="sidebar-menu-button">
                       <img src="~/images/home.svg" width="25" height="auto"/>
                         <span class="button-text">Home</span>
                    </button>
                </a>
                <a href="/Kalender">
                    <button class="sidebar-menu-button">
                        <img src="~/images/calendar.svg" width="25" height="auto"/>
                         <span class="button-text">Kalender</span>
                    </button>
                </a>
                <a href="/Events">
                    <button class="sidebar-menu-button">
                        <img src="~/images/event.svg" width="25" height="auto"/>
                         <span class="button-text">Evenementen</span>
                    </button>
                </a>
            <a href="/Team">
                <button class="sidebar-menu-button">
                    <img src="~/images/group.svg" width="25" height="auto"/>
                     <span class="button-text">Team Space</span>
                </button>
            </a>
            
            @if (SignInManager.IsSignedIn(User))
            {
                var user = await UserManager.GetUserAsync(User);
                if (await UserManager.IsInRoleAsync(user, "Admin"))
                {
                    <a href="/Admin">
                        <button class="sidebar-menu-button">
                            <img src="~/images/admin.svg" width="25" height="auto"/>
                            Admin Panel
                        </button>
                    </a>
                }
            }
            
            @{
                if (User.Identity?.IsAuthenticated ?? false)
                {
                    <form class="Logout-F" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="Log-out">
                           <img src="~/images/log-out.svg" width="25" height="auto"/>
                            Uitloggen
                        </button>
                    </form>
                }
                else
                {
                    <p>You have successfully logged out of the application.</p>
                }
            }

            <a asp-area="Identity" asp-page="/Account/Manage/Index">
                <div class="settingsspace"></div>
                <div class="line-3"></div>
                <button class="settings">
                    <img src="~/images/settings.svg" width="50" height="47" />
                    Instellingen
                </button>
            </a>
        </div>


        <div class="main-content">

            
            <div class="page-content">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>


<script>
document.addEventListener('DOMContentLoaded', function () {
    const sidebar = document.querySelector('.sidebar');
    const overlay = document.querySelector('.sidebar-overlay');
    const hamburgerIcon = document.querySelector('.hamburger-menu-icon');

    hamburgerIcon.addEventListener('click', function () {
        sidebar.classList.toggle('open');
        overlay.classList.toggle('active');
        document.documentElement.style.overflow = 'hidden';
    });

    overlay.addEventListener('click', function (event) {
        if (event.target === overlay) {
            sidebar.classList.remove('open');
            overlay.classList.remove('active');
            document.documentElement.style.overflow = 'auto';
        }
    });
});
</script>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
