@page
@model CaveroClubhuis.Pages.AdminChangeModel
@{
}

<div class="text-center">
    @if(Model.EventChoice == null)
    {
    <div id='container' style="height:400px;">
        <ejs-dialog id="dialog" header="Wijzig evenement" visible="true" showCloseIcon="true" target="#container" width="500px" >
            <e-content-template>

                <form id="ask-input" method="post" asp-page-handler="AskInput">
                    <div>
                        <label for="selectedEvents">Selecteer een evenement om te wijzigen</label>
                    </div>
                    <div>
                        <select id="selectedEvent" asp-for="SelectedEvents" size="4">
                            <option value="">-- Selecteer een evenement --</option>
                            @foreach (var eventItem in Model.Events)
                            {
                                <option value="@eventItem.Id">@eventItem.Title</option>
                            }
                        </select>
                    </div>
                    <div>
                        <input type="submit" class="confirm-button" value="Bevestig keuze">
                    </div>
                </form>
            </e-content-template>
        </ejs-dialog>
        </div>
     }
     
  else
  {
        <div id='container' style="height:400px;">
             <ejs-dialog id="dialog" header="Wijzig evenement" visible="true" showCloseIcon="true" target="#container" width="500px">
            <e-content-template>
                 <form id="change" class ="make-event" method="post" style="display:flex;" asp-page-handler="ChangeEvent">
                <!-- Add the make event inputs here-->
                
                    <label for="title">Titel</label>
                    <span asp-validation-for="title" class="error-message"></span>
                    <input type="text" id="title" value="@Model.EventChoice.Title" maxlength="20" asp-for="title">
              
              
                        <label for="description">Omschrijving</label>
                        <span asp-validation-for="description" class="error-message"></span>
                        <textarea type="text" id="description" value="@Model.description" maxlength="200" asp-for="description"></textarea>
                        
                        <label for="date">Datum</label>
                        <span asp-validation-for="date" class="error-message"></span>
                        <input type="date" id="date" value="@Model.date.ToString("yyyy-MM-dd")" asp-for="date">

                        <label for="startTime">Start tijd</label>
                        <span asp-validation-for="startTime" class="error-message"></span>
                        <input type="time" id="startTime" value="@Model.startTime.ToString("hh\\:mm")" asp-for="startTime">

                        <label for="endTime">Eind tijd</label>
                        <span asp-validation-for="endTime" class="error-message"></span>
                        <input type="time" id="endTime" value="@Model.endTime.ToString("hh\\:mm")" asp-for="endTime">

                        <label for="location">Locatie</label>
                        <span asp-validation-for="location" class="error-message"></span>
                        <input type="text" id="location" value="@Model.location" asp-for="location">

                        
                        <input type="submit" value="Opslaan">
            </form>
                </e-content-template>
            </ejs-dialog>
        </div>
  }
        </div>
    <script>
        window.onload = function () {
            var dialog = document.getElementById("dialog").ej2_instances[0];

        

            window.onresize = function () {
                // Ensure the dialog is repositioned when the window is resized
                dialog.refreshPosition();
            };
        };
    </script>

    <style>
    .confirm-button {
        background-color: #803689 !important;
        border-color: #803689 !important;
        color: white !important;
    }
    .make-event {
        flex-wrap: wrap; /* Wrap the elements */
        flex-direction: column;
        margin-top: 10px;
        max-width: 500px;
        min-height: 350px;
        background-color: #ffffff;
        border-radius: 13px;
        border: 2px solid #d9d9d9;
    }


    .error-message {
        max-width: 40%;
        display: block;
        float: left;
        margin-left: 20%;
        color: red;
    }

    .make-event label {
        margin-left: 10%;
        position: center;
        font-size: 15px;
        font-weight: bolder;
        color: #b1b3b4;
    }

    .make-event input {
        float: left;
        margin-left: 23%;
        border-radius: 5px;
        border: 2px solid #d9d9d9;
        outline: none;
    }

        .make-event input:hover {
            border-color: #803689;
        }

    .make-event textarea:hover {
        border-color: #803689;
    }

    .make-event input[type="text"] {
        width: 50%;
    }

    .make-event input[type="submit"] {
        margin-left: 40%;
        width: 100px;
        border-radius: 20px;
        background-color: #803689;
        color: white;
    }

        .make-event input[type="submit"]:focus {
            width: 100px;
            border-radius: 20px;
            background-color: #b1b3b4;
            color: black;
        }


    .make-event input[type="time"] {
        width: 30%;
    }

    .make-event input[type="date"] {
        width: 30%;
    }

    .make-event input:focus {
        border: 2px solid #803689;
    }

    .make-event textarea {
        margin-left: 23%;
        width: 50%;
        height: 59px;
        padding: 5px;
        border-radius: 5px;
        outline: none;
        resize: none;
        border: 2px solid #d9d9d9;
    }

        .make-event textarea:focus {
            border: 2px solid #803689;
        }

        .make-event textarea::-webkit-scrollbar {
            width: 0px;
        }
        </style>

       
