@page
@model CaveroClubhuis.Pages.AdminChangeModel
@{
    var DialogButtons1 = new ButtonModel() { isPrimary = true, cssClass = "confirm-button", content = "Bevestig" };
ViewData["Title"] = "Admin";
}
@using Newtonsoft.Json

<head>
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
</head>

<body>
<div class="admin-bar">
    <!-- Buttons for the admin-->
    <a href="/MakeEvent">
        <button id="makeButton" class="admin-button">
            Event aanmaken
        </button>
    </a>
    
    <a href="/AdminChange">
        <button id="changeButton" class="admin-button">
            Event aanpassen
        </button>
    </a>
    <a href="/AdminDelete">
        <button id="removeButton" class="admin-button">
            Event verwijderen
        </button>
    </a>
    <a href="/AdminMakeTeam">
        <button id="TeamButton" class="admin-button">Team aanmaken</button>
    </a>

    <a href="/AdminRemoveTeam">
        <button id="TeamButton" class="admin-button">Team verwijderen</button>
    </a>
    <a href="/AdminFeedback">
        <button id="feedbackButton" class="admin-button">Feedback bekijken</button>
    </a>
</div>

    @if(Model.EventChoice == null)
    {
        <div id='container' style="height:350px;" class="make-event">

            <ejs-dialog id="dialog" header="Wijzig evenement" visible="true" target="#container" style="min-height:525px; border-radius: 13px; box-shadow: none;  border: 2px solid #d9d9d9;
 overflow-y: auto;" width="450px">
                <e-content-template>

                    <form id="ask-input" method="post" asp-page-handler="AskInput" onsubmit="validateForm">
                        <div>
                            <ejs-dropdownlist id="selectedEvent" dataSource="@Model.Events" placeholder="Kies een evenement" allowFiltering="true" filtering="onfiltering" ejs-for="@Model.SelectedEvents" style="width: 300px;">
                                <e-dropdownlist-fields text="Title" value="Id"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                            <p></p>
                            <p>Selecteer een evenement om te wijzigen</p>

                            <div><span id="error-message" class="error-messageDialog"></span></div>
                        </div>
                    </form>

                </e-content-template>
                <e-dialog-buttons>
                    <e-dialog-dialogbutton buttonModel="DialogButtons1" click="submitForm" id="submit-button"></e-dialog-dialogbutton>
                </e-dialog-buttons>
            </ejs-dialog>
        </div>


                        
                        }

                        else
                        {
<div class="make-event">
                        <form id="change" class="make-event-form" method="post" style="display:flex;" asp-page-handler="ChangeEvent">
                            <!-- Add the make event inputs here-->

                            <label for="title">Titel</label>

                            <input type="text" id="title" value="@Model.EventChoice.Title" maxlength="20" asp-for="title" required>


                            <label for="description">Omschrijving</label>

                            <textarea type="text" id="description" value="@Model.description" maxlength="120" asp-for="description" required></textarea>

                            <label for="date">Datum</label>

                            <input type="date" id="date" value="@Model.date.ToString("yyyy-MM-dd")" asp-for="date" required>

                            <label for="startTime">Start tijd</label>

                            <input type="time" id="startTime" value="@Model.startTime.ToString("hh\\:mm")" asp-for="startTime" required>

                            <label for="endTime">Eind tijd</label>

                            <input type="time" id="endTime" value="@Model.endTime.ToString("hh\\:mm")" asp-for="endTime" required>

                            <label for="location">Locatie</label>

                            <input type="text" id="location" value="@Model.location" asp-for="location" required>


                            <input type="submit" value="Opslaan">
                        </form>
    </div>
                        }
                        <script>
                            window.onload = function () {

                                var dialogElement = document.getElementById("dialog");

                                if (dialogElement) {
                                    var dialog = dialogElement.ej2_instances[0];

                                    window.onresize = function () {
                                        // Make dialog responsive
                                        dialog.refreshPosition();
                                    };
            };
        };

    function onDialogClose() {
        // Redirect to the home page
        window.location.href = '/Index';
    }

    function submitForm() {
        var errorMessageElement = document.getElementById("error-message");
        var selectedEvent = document.getElementById('selectedEvent');
        if (selectedEvent.value !== "") // check if there is a value or not
        {
            errorMessageElement.innerText = "";
            // manually submit the form when button is pressed
            document.getElementById('ask-input').submit();

        } else {
            // Show error message if no event is selected
            errorMessageElement.innerText = "Selecteer één evenement om verder te gaan";
        }
    }


    // Function to allow filtering with jquery
    function onfiltering(e) {
        var query = new ej.data.Query();
        query = (e.text !== '') ? query.where('Title', 'startswith', e.text, true) : query;
        e.updateData(@Html.Raw(JsonConvert.SerializeObject(Model.Events)), query);
    }

                        </script>

</body>


