@page
@using System.Runtime.InteropServices.JavaScript
@model CaveroClubhuis.Pages.EventsModel
@{
    ViewData["Title"] = "Evenementen";
}
<head>
    <link rel="stylesheet" href="~/css/Events.css" />
</head>
<body>
    <div class="Wrapper">
        <div class="Evenementen">
            <div class="StickyHeader">
                <h2 class="Title">Opkomende evenementen</h2>
                <hr class="titleLine" />
            </div>
                @foreach (var eventItem in Model.EventsList)
                {
                <div class="kaart">
                    <h2>@eventItem.Title</h2>
                    <h3>@eventItem.Date.ToString("dd-MM-yy"), @eventItem.StartTime.ToString(@"hh\:mm")</h3>
                    <p id="beschijving">
                        @eventItem.Description
                    </p>

                    <button class="openModalBtn" data-modal-id="modal1_@eventItem.Id">Aanmelden</button>
                    <div id="modal1_@eventItem.Id" class="modal">
                        <div class="modal-content">
                            <h5 class="modal-title">@eventItem.Title</h5>
                            <span class="close">&times;</span>
                            <p>U bent nu aangemeld voor: @eventItem.Title op @eventItem.Date.ToString("dd-MM-yy") om @eventItem.StartTime.ToString(@"hh\:mm")</p>
                        </div>
                    </div>
                    <button class="openModalBtn" data-modal-id="modal2_@eventItem.Id">Deelnemers</button>
                    <div id="modal2_@eventItem.Id" class="modal">
                        <div class="modal-content">
                            <h5 class="modal-title">@eventItem.Title</h5>
                            <span class="close">&times;</span>
                            <p>Modal content for event: @eventItem.Title</p>
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="Evenementen">
                <div class="StickyHeader">
                    <h2 class="Title">Verlopen evenementen</h2>
                    <hr class="titleLine" />
                </div>
                @foreach (var eventItem in Model.oldEvents)
                {
                <div class="kaart">
                    <h2>@eventItem.Title</h2>
                    <h3>@eventItem.Date.ToString("dd-MM-yy"), @eventItem.StartTime.ToString(@"hh\:mm")</h3>
                    <p id="beschijving">
                        @eventItem.Description
                    </p>
                    <button class="openModalBtn" data-modal-id="modal3_@eventItem.Id">Feedback</button>
                    <div id="modal3_@eventItem.Id" class="modal">
                        <div class="modal-content">
                            <h5 class="modal-title">@eventItem.Title</h5>
                            <span class="close">&times;</span>
                            <p>feedback button</p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>

</body>

