@page
@using System.Runtime.InteropServices.JavaScript
@model CaveroClubhuis.Pages.EventsModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Evenementen";
}
<head>
    <link rel="stylesheet" href="~/css/Events.css" />
</head>
<body>
    <div class="Wrapper">


        <!--Opkomende Evenementen-->
        <div class="Accordion">
            <div class="flexbox">
                <h2 class="Title">Opkomende evenementen</h2>
                <span class="arrow-down"></span>
            </div>
            <hr class="titleLine" />
        </div>

        <div class="panel">
            @foreach (var eventItem in Model.EventsList)
            {
            <div class="Evenementen-opkomend">
                <h2>@eventItem.Title</h2>
                <h3>@eventItem.Date.ToString("dd-MM-yy"), @eventItem.StartTime.ToString(@"hh\:mm")</h3>

                <div class="description-button-container-opkomend">
                    <p id="beschijving">@eventItem.Description</p>

                    <!-- Afmelden/ Aanmelden Button -->
                    @if (Model.AllParticipants.Any(ep => ep.EventId == eventItem.Id && ep.UserId == @User.FindFirstValue(ClaimTypes.NameIdentifier)))
                {
                    <form method="post" asp-page-handler="Leave">
                        <input type="hidden" name="eventId" value="@eventItem.Id" />
                        <button type="submit" class="openModalBtn" data-modal-id="modal1_@eventItem.Id">Afmelden</button>
                    </form>
                    <div id="modal1_@eventItem.Id" class="modal">
                        <div class="modal-content">
                            <div class="Title-bar">
                                <h5 class="modal-title">@eventItem.Title</h5>
                                <span class="close">&times;</span>
                            </div>
                            <p>U bent nu Afgemeld voor: @eventItem.Title op @eventItem.Date.ToString("dd-MM-yy") om @eventItem.StartTime.ToString(@"hh\:mm")</p>
                        </div>
                    </div>
                }
                else
                {
                    <form method="post" asp-page-handler="Add">
                        <input type="hidden" name="eventId" value="@eventItem.Id" />
                        <button type="submit" class="openModalBtn" data-modal-id="modal1_@eventItem.Id">Aanmelden</button>
                    </form>
                    <div id="modal1_@eventItem.Id" class="modal">
                        <div class="modal-content">
                            <div class="Title-bar">
                                <h5 class="modal-title">@eventItem.Title</h5>
                                <span class="close">&times;</span>
                            </div>
                            <p>U bent nu aangemeld voor: @eventItem.Title op @eventItem.Date.ToString("dd-MM-yy") om @eventItem.StartTime.ToString(@"hh\:mm")</p>
                        </div>
                    </div>
                }

                    <!-- Deelnemers Button -->
                    <button class="openModalBtn" data-modal-id="modal2_@eventItem.Id">Deelnemers</button>
                    <div id="modal2_@eventItem.Id" class="modal">
                        <div class="modal-content">
                            <div class="Title-bar">
                                <h5 class="modal-title">@eventItem.Title</h5>
                                <span class="close">&times;</span>
                            </div>
                            @foreach (var participant in Model.AllParticipants)
                            {
                            if (participant.EventId == eventItem.Id)
                            {
                                foreach (var atendee in Model.Atendees)
                                {
                                    if (atendee.Id == participant.UserId)
                                    {
                            <p>@atendee.FirstName @atendee.LastName</p>
                                    }
                                }
                            }
                            }
                        </div>
                    </div>
                </div>
            </div>
                }
        </div>

        <!--Verlopen Evenementen-->
        <div class="Accordion">
            <div class="flexbox">
                <h2 class="Title">Verlopen evenementen</h2>
                <span class="arrow-down"></span>
            </div>
            <hr class="titleLine" />
        </div>
        <div class="panel">
            @foreach (var eventItem in Model.oldEvents)
                {
            <div class="Evenementen-verlopen">
                <h2>@eventItem.Title</h2>
                <h3>@eventItem.Date.ToString("dd-MM-yy"), @eventItem.StartTime.ToString(@"hh\:mm")</h3>

                <div class="description-button-container-verlopen">
                    <p id="beschijving">@eventItem.Description</p>

                    <!-- Feedback Button -->
                    <button class="openModalBtn" data-modal-id="modal3_@eventItem.Id">Feedback</button>
                    <div id="modal3_@eventItem.Id" class="modal">
                        <div class="modal-content">
                            <div class="flexbox">

                                <div class="Title-bar">
                                    <h5 class="modal-title">@eventItem.Title</h5>
                                    <span class="close">&times;</span>
                                </div>
                                    <form method="post" asp-page-handler="SubmitFeedback">
                                        <input type="hidden" name="eventId" value="@eventItem.Id" />
                                        <textarea class="feedback" name="feedback" placeholder="Geef hier feedback over het event (denk aan dingen die je miste of juist goed geregeld waren)" rows="4" cols="50"></textarea>
                                        <button class="Send-feedback" type="submit">Stuur feedback</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    }
        </div>
    </div>
</body>
